{% extends 'layouts/app.twig' %}

{% block content %}
    <form action="{{ url('/payment/refunded/' ~ order.id ~ '/send') }}" method="POST">
        <input type="text" name="count">
        <input type="submit" name="refud" value="refud">
    </form>
{% endblock %}